CORS_ORIGIN=https://localhost
API_URL=https://localhost/api
WEB_URL=https://localhost

CASDOOR_DB_USERNAME=casdoor_admin
CASDOOR_DB_PASSWORD=strong_password_123
CASDOOR_DB_NAME=casdoor_db

CASDOOR_CLIENT_ID=
CASDOOR_CLIENT_SECRET=
CASDOOR_APP_NAME=ws-lab
CASDOOR_INTERNAL_URL=http://casdoor:8000
CASDOOR_EXTERNAL_URL=https://casdoor.localhost
CASDOOR_REDIRECT_URI=https://localhost/api/auth/callback
CASDOOR_PUBLIC_KEY=

BINANCE_WS_URL=wss://stream.binance.com:9443/ws
WS_URL=https://localhost
